{% extends "base.html" %}
{% block page_title %}{{ legend }}{% endblock %}
{% block breadcrumb %}{{ legend }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ legend }}</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.name.label }}</label>
                                {{ form.name(class="form-control") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{ form.network_address.label }}</label>
                                {{ form.network_address(class="form-control", placeholder="192.168.1.0/24") }}
                                {% for error in form.network_address.errors %}
                                <div class="text-danger small">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{ form.description.label }}</label>
                        {{ form.description(class="form-control", rows="3") }}
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ form.vlan.label }}</label>
                                {{ form.vlan(class="form-control") }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ form.location.label }}</label>
                                {{ form.location(class="form-control") }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ form.gateway.label }}</label>
                                {{ form.gateway(class="form-control") }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ form.dns_servers.label }}</label>
                                {{ form.dns_servers(class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ form.alert_threshold.label }}</label>
                                {{ form.alert_threshold(class="form-control", placeholder="80") }}
                                <div class="form-text">Set 0 to disable alerts.</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="{{ url_for('subnets.list_subnets') }}" class="btn btn-secondary">Cancel</a>
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}